.who-we-are {
    display: grid;
    justify-items: center;
    padding: 60px 20px;
    gap: 30px;
}

.who-we-are__title {
    font-size: 45px;
    margin-left: 50px;
    text-transform: uppercase;
    color: #a3b1d6;
}

.profiles {
    display: flex;
    justify-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}